.gitattributes export-ignore
.gitignore export-ignore
.backlog export-ignore
.bugzilla export-ignore
.jira export-ignore
.mantis export-ignore
.opentask export-ignore
.redmine export-ignore
.scarab export-ignore
.trac export-ignore
.bitbucket export-ignore
.gitbucket export-ignore
.gitblit export-ignore
.github export-ignore
.gitlab export-ignore
.gitolite export-ignore
.gitosis export-ignore
.gitweb export-ignore
.jenkins export-ignore
*.oa binary
*.bmp binary
*.gif binary
*.jpeg binary
*.jpg binary
*.png binary
*.tiff binary
*.pdf binary
*.docx binary
*.pptx binary
*.xlsx binary
*.ps -diff
